asgiref==3.2.5
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
Django==3.1.12
django-bootstrap3==12.0.3
docx==0.2.4
falcon==2.0.0
get==2019.4.13
idna==2.8
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
matplotlib==3.2.0rc3
mccabe==0.6.1
numpy==1.18.1
optionaldict==0.1.1
Pillow==7.0.0
post==2019.4.13
public==2019.4.13
pycryptodome==3.9.6
pygal==1.7.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
six==1.14.0
sqlparse==0.3.1
typed-ast==1.4.1
urllib3==1.25.8
waitress==1.4.3
wechatpy==1.8.6
wrapt==1.11.2
xmltodict==0.12.0
