{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block content %}

    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

    <p>编辑主题：</p>

    <form action="{%url 'learning_logs:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        <textarea name='title'>{{ entry.title }}</textarea>
        <div id="div1">
        </div>
        <div id = "content1" style="display:none;">
            {{ entry.text }}
        </div>
        <textarea id="text1" name="text" style="width:0; height:0; visibility:hidden;"></textarea>
        {% buttons %}
            <button name="submit" class="btn btn-primary">保存</button>
        {% endbuttons %}


        
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
        <script type="text/javascript">
            var E = window.wangEditor
            var editor = new E('#div1')
            var $text1 = $('#text1')
            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                $text1.val(html)
            }
            editor.create()
            // 初始化 textarea 的值
            $text1.val(editor.txt.html())
            editor.txt.html($("#content1").text())
        </script>
    </form>

    

{% endblock content %}